# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Uploaded files
uploads/

# Build or temporary files
*.log
*.tmp
*.bak

# IDE-specific files
.idea/  # IntelliJ IDEA
*.sublime-workspace
*.sublime-project